# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
*.sqlite3
*.db

# Log files
*.log

# Secret key
secret_key

# Media files
media/

# Static files
staticfiles/

# Virtual environment
venv/
.env

# IDE-specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Local development settings
*.local
